<!DOCTYPE html>
<html ng-app='middlearthify'>
  <head>
    <meta charset="utf-8" />
    <title>MiddlEarthify</title>
  </head>
  <style type="text/css">
    .singleEpic {
      padding: 10px
    }
  </style>
  <body>
    <h1>MiddlEarthify</h1>
    <div ng-controller='AppController'>
      <form name='submitForm' ng-submit="createEpic()">
      <input name='hero'
        ng-model="hero.name"
        placeholder="Enter your name here"/>
      <input name='gender' ng-model="hero.gender" placeholder="He: 0, She: 1, Ze: 2"/>
      <button type="submit" value="Submit" >
        Submit
      </button>
    </form>
    <div ng-repeat='epic in data.epics' class='epic'>
      <div class='singleEpic'>
        <div class='title'>The Tale of {{epic.name}}</div>
        <div class='epic'>{{epic.story}}</div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.js"></script>
    <script src="./app.js"></script>
  </body>
</html>
